---
- name: Provision dev servers
  hosts: all
  become: yes

  tasks:

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - /
  # Debug
  # - name: Gather info
  #   ansible.builtin.setup:

  # - name: Display kernel
  #   ansible.builtin.debug:
  #     msg: "Kernel version for {{ inventory_hostname }} is {{ ansible_kernel }}"

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - /
  # Provision node
  # - name: Set a hostname
  #   ansible.builtin.hostname:
  #     name: "{{ inventory_hostname }}"

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - /
  # Provision node
  - ansible.builtin.import_tasks:
      file: provision.yml

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - /
  # Add users
  - ansible.builtin.import_tasks:
      file: users.yml
