---
- name: Provision dev servers
  hosts: jenkins-agents

  tasks:

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - /
  # Provision node
  #
  # - name: Set a hostname
  #   ansible.builtin.hostname:
  #     name: "{{ inventory_hostname }}"
  #  when: inventory_hostname.find("peach") != -1

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - /
  # Provision node
  #
  # - ansible.builtin.import_tasks:
  #     file: provision.yml
  #   when: inventory_hostname.find("peach") != -1
  #   tags:
  #     - provision

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - /
  # Add users
  #
  # - ansible.builtin.import_tasks:
  #     file: users.yml
  #   tags:
  #     - users

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - /
  # Devnet
  #
  # - ansible.builtin.import_tasks:
  #     file: devnet.yml
  #   when: inventory_hostname in groups['devnet']
  #   tags:
  #     - devnet

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - /
  # Jenkins' Agents
  #
  - ansible.builtin.import_tasks:
      file: jenkins-agents.yml
    when: inventory_hostname in groups['jenkins-agents']
    tags:
      - jenkins-agents
