---
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - /
# Vars
#
- ansible.builtin.set_fact:
    users:
      jhunsaker:
        uid: "1000"
        groups:
        - sudo
        ssh_keys:
        - "ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBCpjsVf59YOhsNwO8dY3jPhBzWog/8bMu0aDJZGZE/0RBRnWILPM67Ou6Z7wola4ECLoNMloR7PFRK0Cy45strA= hunsa@LAPTOP-4F58ONC3"
      ariq:
        uid: "1001"
        ssh_keys:
          - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCkakMen/A1xQV4nse5QKUHYFxR2F5fILfZK+20NLcQIx4UwM2skQfIawUvTGrfvv6MADAGXdoXMPIIIsUo1lLt3shJPz9hUuFIEJW7bgUyBAIb3mrz8hCzfn83N+GyQAjwB5Hp/dEy2gyiylIoZ0oTibYdbCKDHCrRrd2g8toFe1HXooWUnmvBh95dTKzBDleAYsrvUUgtJqkurHZ7v+b/cfwLsc9p4+1yBobaCVKDVzOoCU4+ilXdtSjofN5/LIaxEXlFCMNgiX/Qk1JzYjtTafImrzwigNQ5KgHzb3JkebRZ6K9Ctc217Mys3R/2oD35DD5Frm8iDH8BnmM/IK32MTKoMrr9moYo6l/gHB5yP950n1Owt+Jb9An3qojQQIpCNA+Ohv2boscwKoF6kWXnI348BcTgATAISra677T4AvWSj6O79P0o1wy8SZy/ObooNvW696JCJhfHQClF3ZJ96Q+lvEA9oly4DVKC6HuN4jDD4Ze1gJAd0nCx0585p0E="
          - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCaE/w4UrM6LK4JSLsODSQSaz/rvF1gS7eaCkv1oZ+m5eoXUjYbuAyGEt1E7cJ2SGtpdqAeIJHg4eZRLF/N+UtvVNWHwsz7tvrxdaZd4jRvABbO5ryvxa2CyqycCOFUbVB+tt9nBm/tT/VABGWNAZRylt+3HEnFMHPT1aIIptxwp6uXRv8VJFEgjQQBD1Y6zuvddcVPsi43a9t2SWb+SUbPhSA14uJNKELstLf/0uuNZFrwxnDGB5S/cG4b46fseUbDTH/kbDRQj8KqcAHva6T1NYIPVqQTlrZAONnOGgh0HmSJmj9A5RyDWx+21eXwFw7OU6mv7JcVKgTVC2Sbrq3PsbluVjcd4kG3oGJuBR4pSCL3P5VKesT6Vc4cGQ0XVopwES/qFRDW+4LhQZq9xJcUbk/oMxJMNmm7okR5arbbCys+fkYkqIp5nRQxlHDbgOfkFt1c4nSMb6wT//bhqY3Eeq1HsbI38fhQaUkGnLkx9yWJyJ+0W9+zPjnhnV+Hsxc="
          - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEoKLaQ2gNOilBRgSSN2GRnP2w2Xhzg3lcNeXGq2jo/G"
          - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINLtiEszza0mQNqJ0WT3JEIe1yvBq4MWhv5zwmeh0fK5"
      aashish:
        uid: "1006"
        ssh_keys:
        - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCr+O55tZUDGTk1qvSuOYE8wrI/S6CNeLvRVjdtInpLwH7kSI5MHcnOrEtut/3ollMc0hnZjS7GJb1YKHz3k1Dkv5QOwr3aEJyker5Pd/rh3KvI1bIPZmoqcUO/NtmK4n/mH2Rfzpl3Gp7kaM1MZQBGvAAtS7Hl8It9nsj/OsNgWI6dlZjg8BeihvfAYdqzAS6Xins2uaHKYy61ACcxqR9aOd75a9Z9DI7N747Y/z/2StkDCvycWxrkKEQDVWj7eyitbZskcDlEQ01fNt/C0zaF6mvW0GGJEl3KbFqYIrkbF/P87utbk5N2+l9/mz0gqKKMtjAewkWYdzP6Fu5NkMxAVP06UG9iiVpWiNcppBgLXkJQTTH1453+TXbPAgHld6le/UKepf11OmolQfkcjhxKEQGtFa3Jumkqiy38GlE0zGnozBy5eRPZ8ovlHeVaq12eqBVEMdBJ/4cG3VxX9qD+7wZA6T0X5rFAkYP8f1ycgpq4J5w2/vRC42/NWI6xKCM= aashish@pop-os"
        - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC0dgsUV8GpnmDSlHcMuKcyL7TS23Uvm2M4woyIwNAeoPz0B4aIWLS9hgtdf7+m058YBbHpfkWyB9HX9gfwVcl5JLdIZTpqZmSAvX+p9Sto+iSxGNQtW/F2veyK1+meIKxaqtRdHXFbFJ2ITYlNZPG3FFioi2rvtw2o5oQ67iPRZI3Pm02isjx4APLKO7etQHtN2zUGwYdSoSSoldDsYxIrT9hJ7E2I+wNCjvLDdPCWkV6fkyXHycrcUaKXbdCUgdtWTO3b8y13zHuZFLPsAKGMoRuHKCH9RLNhKCqwb2Wf/NJzYiZjqi5z+OsUmpr6EL+B/HP+2siEchNmMjlKKTF4D/neT131RvwwAhpe+Gl/CGTBFgGakkJ1jUazVxV6A12hc77UogYUYyqqZh4F4+5V/LpR+CKjQCsDvQC701dr9Il5OthmzSY9NxsVkdbmWbb5pxMkTNI/CmvyvgriWQZFgyulOCG8hY/yeei9PJWTmzedygqvsBTA8J3rfP9emMk= aashish@Aashishs-MBP.lan"
      vickychen:
        uid: "1008"
        ssh_keys:
        - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII3tb14ntz2G28i92GmJF03Mit9JQAtRD6UcWW4ETRsd yifanc3@illinois.edu"
      alee:
        uid: "1014"
        ssh_keys:
        - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDwtjdcMKWZId3R/msMgmLR9yCldRNbUObOjNBH0NDKjp8AycVgW8LWvQxC1of/Jh2sVlmZAUVQRraXN4BJKiIr8zFJcCtxc5kVC+saPmnbDajozPxr9e2HjrLzfaGBbxQQE1QHOmsVQbMGOZOOSyZi44fLyeV3rGJn4AVX4/pXzRBrhjifVt6MPwV+1UlZJJxCMfuxkkBKIM3OTjbe2UPQZgSxAfM1dvIedk8mLOn37WgnHyfZxl+nnbnkM+74CbEeMb9k/skRkH1apOV/uuz86b7PKWdM185kNjOuD3D5xjoL2ah5gc9gp+Nz+HTd8ljf153dHg2N7isGiw7MNXHqu3IAuD4mQrKx4nO8SxyvvssPGp022UbBBL0erUUG1DiUo5RL7BvSEjoA1NvzajcgOCd79srfWODlarybOjOI8ilofztBMs6kdZ2oWuhLuId1sZqbgXNpHfEjuHQGyeB1wvSb444ZfaRxtNu0tk9WdaWaPnX1ygOEl8yOOJmThEM= alexanderlee@Alexanders-MacBook-Pro.local"
        - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDGjOsZeR8+VHq8WFhvwVR5VmAO1zaal24hok37rcavcElMY93A/XEdU6nnNSa5mc3Ti2Rit551m/V6nD4SF2A6I/M47imN9R6gEQIgT1gO0zPiGGYJ3wtjciP3GCs2MZj7zliXpglhW5/Kt59LXqtuj802KSgDx8XoVp/6l0e8+ddgzKSyeOeE3sPO+p8XROoXnqucWn74lYecPy/d2Rq4v2iNqvJ/xGnS++ABXUwJeQfqbLg2SO9i1lykqSb2BiJgYQNzF6JYla+vCi1iz2bLI4tCJ+shzIFy5oW0m9kN8ewO/uPBNn4/n2y1JgMh/GuFVNROdTlKEJZSVfBiXwidFUoLu+RzQSu3rb2ApfvwXqqj1UKMgjsCPRdgCU6TvapUh/67gSyjE8VJzpCvmolEHhiDvGD8y/L+k8bThHfDGEXcOXAg2ytFNtM91yfVGJfLM8Lqpx2tGhcJABV8UaC6iMTzfzcUQ9domEHKJtXRaLPjig/HZPGr4zyKOrIEUlU= alee@peach4.spacetime.org"
      mchen:
        uid: "1025"
        groups:
        - docker
        ssh_keys:
        - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDrz8vwObEvLG8qdfDcmW5qMKYSn9WDFAd7/mT7FUJ+5 michael@Michaels-MacBook-Pro-2.local"
      ndouglas:
        uid: "1031"
        ssh_keys:
        - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBSuCXKUJZjWDSPyZ4PqOAGVXZD923qETnaNNRJ/wk2m openpgp:0x9EEF27AD"
        - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKf2wEP7kMNdNYt3P46Ol6FbfjfN3cJFFV5MJjLHGpor openpgp:0x95B1F8A5"
        - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINAtqJ4imToWd0n+suHP/Dao8rWZuQR5Osl0SLCr5cj2 openpgp:0x713C2CB2"
      mhume:
        uid: "1035"
        groups:
        - sudo
        ssh_keys:
        - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICb3n4z7EaWA60t7g9cywU370HUn4YR4TZwVB6WB2VM5 mike@monad.xyz"
      klemens:
        uid: "1036"
        ssh_keys:
        - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCwbpZ5hZy86EZaa/44eyDPZ4VxPTWaKDlFMNakTacLJciLFFgqF8v1F5/4P/mR1hlyLGjzAN1sgroMVeEsMZiDnxDbyy16BHi44dnKIxhlLCC1cJQTm3DOK34OOeaIS5/Q6gXxe5Lr8mzbJCePV7SBYSYKHlwrTbeMAZWlv76W65q7ysymXYjqE8w1LQ3ytmvy6qdNTdoGHhoaR/UASvTv2KCNO+Dy1mZss8ay/Lp6MjnMiWiWVj0NmGSqT/B73H5paIvqQfXsrrdwnAKZLy0+oCCCT8N8DyBOja7QqX4NJmKf10O9onyu0o3eePLUv4OaaipDFn1F1ZnEPTUnNUEc76EG8x/wIkzYXqovJd0Jo962vMpx24JCBEE0qTi/coRzq+iXeIfDsOM/bnyI+4HiWQWent21uJSA4lm+bQRWjNhO138mq3W6QGed9Y9I54j7goRhgEG1NQh9852+Eh8P8+DJh+o7r5yuZKdUOghlj3WVULNcfnQfGMd7EQvsWB0= klemens@theodora"
      maged:
        uid: "1037"
        ssh_keys:
        - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDrIJrL3rR2heKZZY6fXcTKLjKOi2LWCl9NZFdwEDuiV6dQOyoU78c5distUi3ZOPE3apG0s9xJP2qDJbTWyKAtU16PyBxsB7+5ZMkPzpvGJ0equwH4gaB2LKRy6eh3F4x6SehlX0OGUcDeJ7jEXpCknvWx0L1tk86XP5vwbEmo2pUPyPDndiZ/twsFDIGNX6OdikiSdpOpYtouNqCDR1Kxvu/colH+mQC9DNko2QwHSE0e0HUVpIpFkH4AMOrf4ClSGSo1PCPA/4M1XjUHA1J2zpGw5tlFMIwjKfs0MhBWZ5EjQr7Xrm9w5JAVL29J13n4GTy+Y1zNxrbGdWORY2C5BhgdgFS4RxqnpbB7WnkUsSgcFfX+JUBxZAKCZI1Zl9rOFt19dI8rdmWEdAytPNKVS/xpKEXDGxQA8nPaBl2WFSno0F5DOUpuVL85030+T5PiSuh8pzRI3OqsOERnCnfOaHkUBoIegE0qgOxAzDRcQG4gt9JbFjOZKk+4tFVLQI8= magedmichael@Mageds-MacBook-Pro.local"
      monad:
        uid: "2000"
        ssh_keys:
        - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICb3n4z7EaWA60t7g9cywU370HUn4YR4TZwVB6WB2VM5 mike@monad.xyz"
        - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAxIXi047GtUgcleZfT1FZkg9ouYpiz3PeH0hguip2mc jenkins@peach10"
      refdata:
        uid: "2001"

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - /
#
- name: Create User and set UID
  ansible.builtin.user:
    name: "{{ item.key }}"
    uid: "{{ item.value.uid }}"
    create_home: yes
    append: "{{ item.value.append | default(true if item.value.groups is defined else omit) }}"
    groups: "{{ item.value.groups | default((item.value.groups | join(\",\")) if item.value.groups is defined else omit) }}"
    shell: /bin/bash
    state: present
  loop: "{{ lookup('ansible.builtin.dict', users) }}"
  when:
  - item.key in group_names

- name: Set authorized key for the user
  ansible.posix.authorized_key:
    user: "{{ item.0.key }}"
    state: present
    key: "{{ item.1 }}"
  with_subelements:
   - "{{ lookup('ansible.builtin.dict', users) | list }}"
   - item.value.ssh_keys
   - skip_missing: True
  when: item.0.key in group_names

- name: Allow 'sudo' group to execute sudo without a password
  ansible.builtin.lineinfile:
    path: /etc/sudoers
    line: '%sudo ALL=(ALL:ALL) NOPASSWD:ALL'
    validate: 'visudo -cf %s'

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - /
# Debug inventory
#
# - name: Debug loop with keys()
#   ansible.builtin.debug:
#     msg: "Item {{ item }} and {{ inventory_hostname }}"
#   loop: "{{ users.keys() }}"
#   when: item in group_names

# - name: Debug subelement loop
#   ansible.builtin.debug: var=item
#   with_subelements:
#    - "{{ lookup('ansible.builtin.dict', users) | list }}"
#    - item.value.ssh_keys
#    - skip_missing: True
#   when: item.0.key in group_names
#
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - /
# Remove user
#
# - name: Remove User
#   ansible.builtin.user:
#     name: "{{ item.username }}"
#     state: absent
#     remove: yes
#   with_items: "{{ users }}"
