name: Reusable - Image Builder Template

on:
  workflow_call:
    inputs:
      dockerfile:
        required: true
        type: string
      tag_base:
        required: true
        type: string

jobs:
  image-builder-template:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to ghcr.io
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ github.repository }}/${{ inputs.tag_base }}-${{ github.ref_name }}
          tags: |
            latest
            ${{ github.run_id }}
            type=sha

      - name: Build Image
        uses: docker/build-push-action@v3
        with:
          context: scripts
          file: ${{ inputs.dockerfile }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
